/* Estilos globales y reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  background-color: #11153b; 
  color: #ffff; 
  padding: 0;
  min-height: 100vh; /* Obliga al body a ocupar el 100% de la altura de la pantalla */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

.btn-primary {
  background-color: rgba(59, 130, 246, 0.15); 
  color: #f6f2f2e6; 
  padding: 12px 28px; 
  border-radius: 50px;

  /* Efecto cristal (Glassmorphism) */
  backdrop-filter: blur(4px); /* Fondo detrás del botón se vea desenfocado */
  border: 1px solid rgba(59, 130, 246, 0.25); /* Un borde muy fino y transparente */

  /* Reset y tipografía */
  text-decoration: none;
  font-weight: 600; /* Un grosor elegante, no tan gordo como bold */
  font-size: 0.95rem;
  letter-spacing: 0.5px; /* Separa un pelín las letras */
  display: inline-block;
  cursor: pointer;
  /* Animación suave para cuando pases el ratón */
  transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

  .btn-primary:hover {
    background-color: #2563eb;
  }

p{
    margin-bottom: 18px;
}

.divisoria {
  border: none;
  height: 1.5px;
  width: 80%; /* No ocupa todo el ancho para que sea más elegante */
  background: linear-gradient( to right, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.15) 100% );
  margin: 0.4rem 0;
}
